<div class="px-4 py-5 my-5 text center">
    <i class="bi bi-building"></i>
    <h1 class="jumbotron-heading">PORTOCANO Bienes Raíces</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">"ERP Gestión de Edificios de Apartamento"</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <%= link_to 'Buildings', buildings_path, class: 'btn btn-primary text-white btn-lg px-4 gap-3' %>
            <%= link_to 'Apartments', apartments_path, class: 'btn btn-primary text-white btn-lg px-4' %>
        </div>
    </div>
</div>
