<div class="container">
    <h1 class="jumbotron-heading">CAPOR Bienes Raíces</h1>
    <p class="lead text-muted">
        "ERP Gestión de Edificios de Apartamento"
    </p>
    <p>
        <%= link_to "Buildings", buildings_path, class= "btn btn-secondary" %>
        <%= link_to "Apartments", apartments_path, class= "btn btn-secondary" %>
        #<a href="#" class="btn btn-primary my-2">Apartments</a>
    </p>
</div>