<h1>
    <i class="bi bi-building"></i>
    New Building
</h1>

<div class="col-lg-1">
</div>

<div class="col-lg-11">
    <%= render 'form', building: @building %>

    <%= link_to 'Back', buildings_path, class: 'btn btn-warning text-white' %>
</div>