<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <div class="row">
        <div class="col-lg-2">
            <i class="bi bi-building" width="200%"></i>
        </div>
        <div class="col-lg-3">
            PORTOCANO Bienes Raíces
        </div>
        <div class="col-lg-7">
                <ul class="navbar mr-auto mb-2 mb-lg-0">
                    <li class="nav-item d-inline-block">
                        <%= link_to "Home", "#_path", class:"nav-link active" %>
                    </li>
                    <li class="nav-item d-inline-block">
                        <%= link_to "Buildings", buildings_path, class:"nav-link active" %>
                    </li>
                    <li class="nav-item d-inline-block">
                        <%= link_to "Apartments", apartments_path, class:"nav-link active" %>
                    </li>
                </ul>
        </div>
    </div>
</nav>
